<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div  class="d-flex align-items-center">
        <h3 id="scrollspyHeading3" class="me-3">Educación</h3>
        <div *ngIf="isLogged" class="">
          <button class="btn btn-outline-dark btn-success text-white btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#newEducModal">
            <i class="bi bi-plus-square-fill"></i>
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let educ of educList" class="list-group-item">
          <h5>{{educ.name}}</h5>  
          <h6>{{educ.lugar}}</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
