<nav id="navbar1" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../assets/logoArgProg.png" alt="Logo" width="85" height="49" class="d-inline-block align-text-top">
    <div class="collapse navbar-collapse me-auto mb-2 mb-lg-0" id="navbarNavAltMarkup">
      <a class="navbar-brand" href="#" >
      </a>
      <div class="navbar-nav">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#scrollspyHeading1">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading5">Proyectos</a>
          </li>
        </ul>
      </div> <!-- navbar-nav -->
      <div class="d-flex align-items-center justify-content-end flex-grow-1">
        <a href="https://github.com/Carpincho99">
          <img src="../assets/logoGitHubWhite.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-center me-3">
        </a>
        <a href="https://ar.linkedin.com/">
          <img src="../assets/logoLinkedinWhite.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-center me-3">
        </a>
      </div>
    <div>
      <button class="btn btn-outline-light me-2" type="button"  data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
    </div>
    </div> <!-- navbar-collapse -->
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Log In</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Admin</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div id="passwordHelp" class="form-text">Admin</div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </div>
      </form>
  </div>
</div>
